.content{
  grid-area: c;
  background-color: crimson;
 
 }
 .content img{
   width: 750px;
   height: 400px;
    margin: 10px;
 }
 .item{
   color: chartreuse;
   margin: 10px;
 }
 #fotoProfileInfo{
   width: 600px;
   height: 350px;
 }