.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialog{

}
.dialogsItems{
    padding: 10px;

}
.dialogsItems .active{
    color: chartreuse;
}
.massages{
    padding: 10px;
}
.massage{

}
.dialodsButton{
    width: 95px;
    height: 25px;
    position: relative;
    top: 158px;
    left: -152px;
    border-radius: 5px;
    border-color: #5e7993;
}